.header__link_islogin {
  color: #A9A9A9;
  transition: color 0.2s;
}

.header__link_islogin:hover {
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .header__link_islogin {
    margin-right: 0;
  }
}