.popup__container-image {
  padding: 0;
  background: transparent;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: relative;
  box-shadow: none;
  max-width: calc((100vw - 320px)/(1280 - 320) * (816 - 240) + 240px);
}
