.element {
  width: 282px;
  display: -webkit-flex;
  display: flex;
  justify-self: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
