.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  padding-left: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
  transition: border 0.2s;
  width: 100%;
}

.popup__input:focus:valid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.popup__input:-moz-placeholder, .popup__input::-webkit-input-placeholder {
  color: rgba(196, 196, 196, 1);
}

@media screen and (max-width: 320px) {
  .popup__input {
    padding-bottom: 10px;
  }
}
